# Python

## Variables

In [8]:
kg = 120
height = 1.86
#kg, height = 120, 1.86
bmi = kg/(height**2)
message = "The BMI is:"
print(message, bmi)

The BMI is: 34.686090877558094

In [9]:
type(message)

str

## Comments and variable names

In [ ]:
# This is a program that caculates the BMI
# It's tested!

kg = 120
height = 1.86 # in meters
bmi = kg/(height**2)
message = "The BMI is:"
print(message, bmi)

In [ ]:
p = 100
p2 = 120

# better (but it's js style)
priceInEuros = 100
priceInUSD = 120

# best
price_in_euros = 100
price_in_usd = 120

## Arithmetic operators

In [10]:
print(20 * 3)
print(20 / 3)
print(20 + 3)
print(20 - 3)
print(20 // 3)
print(20 ** 3)

60
6.666666666666667
23
17
6
8000

## Logical operators

In [13]:
handsome = True # --> >= 1
rich = False # --> 0

print(handsome and rich) # --> False

False
0

In [ ]:
handsome = 1
rich = 0

print(handsome and rich) # --> 0

In [20]:
print("and:", True and False)
print("and:", True and True)
print("and:", False and False)

and: False
and: True
and: False

In [21]:
print("or:", True or False)
print("or:", True or True)
print("or:", False or False)

or: True
or: True
or: False

In [22]:
print("not:", not False)
print("not:", not True)

not: True
not: False

In [23]:
int(False)

0

In [24]:
int(True)

1

## Conditionals: if... else... elif

In [31]:
salary = 5000

# >, <, >=, <=, ==, !=
if salary >= 3000:
    print("rich!")
else:
    print("poor!")

print("end.")

rich!
end.

In [37]:
salary = 2000
handsome = False

# >, <, >=, <=, ==, !=
if salary >= 3000 and handsome:
    print("rich and handsome!")
else:
    if salary > 3000 and not handsome:
        print("rich and ugly!")
    else:
        print("poor!")

print("end.")

poor!
end.

In [38]:
# this is the same as above
salary = 2000
handsome = False

# >, <, >=, <=, ==, !=
if salary >= 3000 and handsome:
    print("rich and handsome!")
elif salary > 3000 and not handsome:
    print("rich and ugly!")
else:
    print("poor!")

print("end.")

poor!
end.

## Exercise

In [44]:
kg = 102
height = 1.86 # in meters
bmi = kg/(height**2)

# print "Underweight", "Normal", "Overweight", "Obese" accoding to the HMO directives

# if bmi <= 18.49:
#     print("Underweight")
# elif bmi > 18.5 and bmi <= 24.9:
#     print("Normal")
# elif bmi > 24.9 and bmi <= 29.99:
#     print("Overweight")
# elif bmi > 29.99:
#     print("Obese")


if bmi <= 18.49:
    print("Underweight")
elif bmi <= 24.9:
    print("Normal")
elif bmi <= 29.99:
    print("Overweight")
else:
    print("Obese")

Overweight

## Data structures

In [45]:
# tuple
person = ("Carlo", 100, 1.8)
print(person[0], person[1], person[2])

Carlo 100 1.8

In [ ]:
person[1] = 120
print(person)

In [53]:
# list or array
person = ["Carlo", 100, 1.8]
print(person[0], person[1], person[2])

Carlo 100 1.8

In [54]:
person[1] = 120
print(person)

['Carlo', 120, 1.8]

In [55]:
person.append("Venezia")
person

['Carlo', 120, 1.8, 'Venezia']

In [61]:
print(person, person[1:2], person[1:], person[-1], person[-3:-1])

['Carlo', 120, 1.8, 'Venezia'] [120] [120, 1.8, 'Venezia'] Venezia [120, 1.8]

In [ ]:
# string

In [86]:
song = "volare, cantare, oooohhh"
print(song[2:6])
print(song[-6:-1])

lare
ooohh

In [64]:
# dictionary
person = {"name": "Carlo", "weight": 100, "height": 1.8}

In [65]:
person["name"]

'Carlo'

In [ ]:
person["city"]

In [67]:
print("city" in person, "name" in person)

False True

In [68]:
person.get("city", "no city define")

'no city define'

In [70]:
print(person.get("city"))

None

In [71]:
person["city"] = "Venezia"

In [72]:
person

{'name': 'Carlo', 'weight': 100, 'height': 1.8, 'city': 'Venezia'}

In [73]:
person.keys()

dict_keys(['name', 'weight', 'height', 'city'])

In [74]:
person.values()

dict_values(['Carlo', 100, 1.8, 'Venezia'])

## Loops

In [81]:
kgs = [70, 80, 90, 100, 110, 120]
height = 1.8 # in meters

for i, k in enumerate(kgs):
    bmi = k / (height**2)
    print(i, k, height, bmi)

0 70 1.8 21.604938271604937
1 80 1.8 24.691358024691358
2 90 1.8 27.777777777777775
3 100 1.8 30.864197530864196
4 110 1.8 33.95061728395061
5 120 1.8 37.03703703703704

In [80]:
for i in range(6):
    print(i, kgs[i])
    if i > 4:
        # continue # start the next iteration
        break # get out of the loop

0 70
1 80
2 90
3 100
4 110
5 120

In [82]:
kg = 100
while kg > 0:
    print(kg)
    kg -= 10 # kg = kg - 10
    # break, continue

100
90
80
70
60
50
40
30
20
10

## Exercise 2

In [88]:
# people is an array of tuples (person) or dictionaries
# people has 5 tuples of information: name, weight, height
# define people
# calculate BMI in a loop printing "The BMI of <name> is <BMI>"

people = [("Luca", 75, 1.80), ("Carla", 60, 1.67), ("Marco", 77, 1.78), ("Maria", 71, 1.70), ("Carla", 50, 1.50)]

for person in people:
    bmi = person[1]/(person[2]**2)
    print("The BMI of", person[0], "is", bmi)

# another version, different people
# people = [("Carlo", 70, 1.8), ("Mario", 85, 1.9), ("Stefania", 60, 1.6), ("Concetta", 55, 1,65), ("Antonio", 68, 1.77)]
# for p in people:
#     print("The BMI of ", p[0], "is ", p[1]/(p[2]**2))

The BMI of Luca is 23.148148148148145
The BMI of Carla is 21.513858510523864
The BMI of Marco is 24.302487059714682
The BMI of Maria is 24.56747404844291
The BMI of Carla is 22.22222222222222

In [90]:
# and using an array of dictionaries...
people = [
    {"name": "Luca",  "weight": 75, "height": 1.80},
    {"name": "Carla", "weight": 60, "height": 1.67},
    {"name": "Marco", "weight": 77, "height": 1.78},
    {"name": "Maria", "weight": 71, "height": 1.70},
    {"name": "Carla", "weight": 50, "height": 1.50}
]

for person in people:
    bmi = person["weight"]/(person["height"]**2)
    print("The BMI of", person["name"], "is", bmi)

The BMI of Luca is 23.148148148148145
The BMI of Carla is 21.513858510523864
The BMI of Marco is 24.302487059714682
The BMI of Maria is 24.56747404844291
The BMI of Carla is 22.22222222222222

# Function

In [106]:
def bmi(height=1.7, weight=100):
    b = weight/height**2
    if b <= 18.49:
        s = "Underweight"
    elif b <= 24.9:
        s = "Normal"
    elif b <= 29.99:
        s = "Overweight"
    else:
        s = "Obese"

    return (b, s)


the_bmi, the_status = bmi(height=1.75, weight=100)
print("the BMI is", the_bmi, "and the status is", the_status)

the BMI is 32.6530612244898 and the status is Obese

In [108]:
def bmi_new(height=1.7, weight=100):
    b = weight/height**2
    if b <= 20:
        s = "Underweight"
    elif b <= 25:
        s = "Normal"
    else:
        s = "Obese"

    return (b, s)

In [112]:
def test_bmi(bmi_function, values):
    for h, w in values:
        print(bmi_function(height=h, weight= w))

test_bmi(bmi, [(1.70, 100), (1.80, 110)])
test_bmi(bmi_new, [(1.70, 100), (1.80, 110)])

(34.602076124567475, 'Obese')
(33.95061728395061, 'Obese')
(34.602076124567475, 'Obese')
(33.95061728395061, 'Obese')

# Files

In [127]:
# https://www.kaggle.com/datasets/ashydv/housing-dataset
f = open("Housing.csv", "rt") # "wt", "rb", "wb"

sum_price = 0
count_price = 0

for line_number, line in enumerate(f):
    if line_number > 0:
        line = line.strip()
        values = line.split(",")

        furnishedstatus = values[12]
        if furnishedstatus == "furnished":
            sum_price += int(values[0])
            count_price = count_price + 1

print(sum_price / count_price)

f.close()

5495696.0